.linebar
{
    height: 5px;
    background-color: red;
    width: 0%;
    margin-top: 10px;
    position: fixed;
}
.UpBtn
{
    width: 150px;
    height: 150px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    opacity: 0;
    transition: 1s;
}
.vis
{
    opacity: 1;
}
.legohead
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    height: 100px;
    width: 100px;
    transition: 1s;
}
.price
{
    font-size: 30px;
    font-weight: bolder;

}
.cartwindow
{
    width: 550px;
    height: 350px;
    border-radius: 10px;
    border: 2px solid rgba(124, 121, 121, 0.877);
    position: fixed;
    top: 100px;
    right: 100px;
    background-color: white;
    overflow: scroll;
    overflow-x: hidden;
    opacity: 0;
    z-index:0;
}
.line
{
    height: 1px;
    border: 1px solid rgba(0, 0, 0, 0.877);
    margin-bottom: 10px;
}
.cartwindow strong
{
    margin-left: 20px;
}
.head p
{
    display: inline-block;

}
